
<div class="layout panel d3c t1c m1c">

	<div class="card">
		<h1>MAMACSS</h1>
		<div class="h--block">
			<h6 class="h--alt">A beautifully simple CSS grid layout framework</h6>
		</div>
	</div>
</div>

<div class="layout panel d4c t3c m1c">

	<div class="card">
		<h3>.layout</h3>
		<p>Lorem ipsum dolor amet four dollar toast authentic fixie raw denim sriracha cardigan. 90's leggings VHS, tilde fashion axe wolf semiotics kickstarter quinoa you probably haven't heard of them. Pour-over four loko live-edge mumblecore before they sold out. Taxidermy master cleanse hoodie la croix.</p>
		<p>Tilde direct trade unicorn kinfolk banh mi fingerstache put a bird on it thundercats. Sriracha pok pok chartreuse tofu sartorial wolf irony, kitsch helvetica. Tbh fashion axe taxidermy kombucha. Taxidermy twee tumeric, semiotics green juice prism vape williamsburg selvage. Fixie pabst pok pok whatever, la croix cronut organic hot chicken flexitarian mixtape. Seitan etsy lumbersexual fingerstache la croix small batch organic celiac.</p>
	</div>

	<div class="card">
		<h3>.panel / .card</h3>
		<p>Pour-over four loko live-edge mumblecore before they sold out. Taxidermy master cleanse hoodie la croix.</p>
		<div class="h--block">
			<h4 class="h--alt">.panel</h4>
		</div>
		<p>Lorem ipsum dolor amet four dollar toast authentic fixie raw denim sriracha cardigan. 90's leggings VHS, tilde fashion axe wolf semiotics kickstarter quinoa you probably haven't heard of them. Pour-over four loko live-edge mumblecore before they sold out. Taxidermy master cleanse hoodie la croix.</p>
		<div class="h--block">
			<h4 class="h--alt">.card</h4>
		</div>
		<p>Tilde direct trade unicorn kinfolk banh mi fingerstache put a bird on it thundercats. Sriracha pok pok chartreuse tofu sartorial wolf irony, kitsch helvetica. Tbh fashion axe taxidermy kombucha. Taxidermy twee tumeric, semiotics green juice prism vape williamsburg selvage. Fixie pabst pok pok whatever, la croix cronut organic hot chicken flexitarian mixtape. Seitan etsy lumbersexual fingerstache la croix small batch organic celiac.</p>
	</div>

	<div class="card">
		<h3>.d*c / .t*c / .m*c</h3>
		<p>Tbh fashion axe taxidermy kombucha. Taxidermy twee tumeric, semiotics green juice prism vape williamsburg selvage.</p>
		<div class="h--block">
			<h4 class="h--alt">.d*c</h4>
		</div>
		<p>Lorem ipsum dolor amet four dollar toast authentic fixie raw denim sriracha cardigan. 90's leggings VHS, tilde fashion axe wolf semiotics kickstarter quinoa you probably haven't heard of them. Pour-over four loko live-edge mumblecore before they sold out. Taxidermy master cleanse hoodie la croix.</p>
		<div class="h--block">
			<h4 class="h--alt">.t*c</h4>
		</div>
		<p>Tilde direct trade unicorn kinfolk banh mi fingerstache put a bird on it thundercats. Sriracha pok pok chartreuse tofu sartorial wolf irony, kitsch helvetica. Tbh fashion axe taxidermy kombucha.</p>
		<div class="h--block">
			<h4 class="h--alt">.m*c</h4>
		</div>
		<p>Fixie pabst pok pok whatever, la croix cronut organic hot chicken flexitarian mixtape. Seitan etsy lumbersexual fingerstache la croix small batch organic celiac.</p>
	</div>

</div>

<div class="layout panel">

	<div class="card">
		<p>Copyright &copy; 2019 &middot; Tyler Richardson &middot; All Rights Reserved</p>
	</div>

</div>

<!-- <div class="layout panel d4c t2c m1c">

	<div class="card">

		<div class="h--block">
			<h1>TYPE STYLES</h1>
		</div>

		<div class="h--block">
			<h3>Titles</h3>
		</div>

		<h1>h1</h1>
		<h2>h2</h2>
		<h3>h3</h3>
		<h4>h4</h4>
		<h5>h5</h5>
		<h6>h6</h6>
		<div class="h--block">
			<h4>BLOCK title</h4>
		</div>
		<h6 class="h--alt">ALT COLOR</h6>

		<p>Tilde direct trade unicorn kinfolk banh mi fingerstache put a bird on it thundercats. Sriracha pok pok chartreuse tofu sartorial wolf irony, kitsch helvetica. Tbh fashion axe taxidermy kombucha. Taxidermy twee tumeric, semiotics green juice prism vape williamsburg selvage. Fixie pabst pok pok whatever, la croix cronut organic hot chicken flexitarian mixtape. Seitan etsy lumbersexual fingerstache la croix small batch organic celiac.</p>

	</div>

	<div class="card">

		<h1>TYPE STYLES</h1>
		<h3 class="h--alt">Paragraphs &amp; Lists</h3>

		<p>Tilde direct trade unicorn kinfolk banh mi fingerstache put a bird on it thundercats. Sriracha pok pok chartreuse tofu sartorial wolf irony, kitsch helvetica. Tbh fashion axe taxidermy kombucha. Taxidermy twee tumeric, semiotics green juice prism vape williamsburg selvage. Fixie pabst pok pok whatever, la croix cronut organic hot chicken flexitarian mixtape. Seitan etsy lumbersexual fingerstache la croix small batch organic celiac.</p>

		<ul>
			<li>Unordered</li>
			<li>List</li>
			<li>Items</li>
		</ul>

		<ol>
			<li>Ordered</li>
			<li>List</li>
			<li>Items</li>
		</ol>

	</div>

</div> -->
