<!DOCTYPE html>
<html>
	<head>
		<!-- Meta -->
		<title>Portfolio &middot; Tyler Richardson</title>
		<meta name="description" content="A collection of the creative work of Tyler Richardson" />
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- CSS -->
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Montserrat:300,400,500,600,700,800" rel="stylesheet" />
		<!-- Material Icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<!-- App Layout -->
		<link rel='stylesheet' href='/stylesheets/css/layout.css' />
	</head>
	<body>
		{{{body}}}
	</body>
</html>
